github "kishikawakatsumi/KeychainAccess"
github "SVProgressHUD/SVProgressHUD"
github "rs/SDWebImage"
github "kitasuke/PagingMenuController"
github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
